:root {
    --primary-color: #e3e3e3;
}

html, body {
    margin: 0;
    background-color: var(--primary-color);
}
  
html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
  
body {
    overflow: hidden;
    height: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

h1,
h1 + p {
    position: absolute;
    margin: 0;
}

h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    top: -4px;
    right: 5px;
    color: transparent;
    text-shadow: 0 0 4px white;
}

h1 + p {
    font-size: 1rem;
    top: 40px;
    right: 10px;
    color: #aaa;
}

h2 {
    font-size: 19px;
    margin: 0;
}

.no_cursor {
    cursor: none !important;
}

.visually_hidden {
    display: none !important;
}

/* --------------------------------------------------------------------------------------------------------------- */

#home {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px #aaa;
    border-radius: 30px;
    min-width: 300px;
    height: 300px;
    box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
}

#home,
#home form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#home form {
    gap: 30px;
}

form .input_box {
    position: relative;
}

#balls_number::-webkit-outer-spin-button,
#balls_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#balls_number {
  background-color: var(--primary-color);
  border: 2px solid #000;
  border-top-color: transparent;
  border-right-color: transparent;
  outline: none;
  height: 30px;
  font-size: .9rem;
}

#balls_number:focus,
#balls_number:hover,
#balls_number:not(:placeholder-shown) {
    border-top-color: #000;
    border-right-color: #000;
}

#balls_number:focus + .floating_label,
#balls_number:hover + .floating_label,
#balls_number:not(:placeholder-shown) + .floating_label {
    transform: translate(45%, -7px) scale(.8);
    background-color: #000;
    color: #fff;
    letter-spacing: 0;
}

.floating_label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: .8rem;
    padding: 2px;
    transform: translate(5px, 6px);
    transition: all .5s;
    z-index: 1;
}

.submit_button {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: .8rem;
    font-weight: 900;
    letter-spacing: 2px;
    transition: all .5s;
    cursor: pointer;
}

.submit_button:hover {
    background-color: #000;
    color: #fff;
}

/* --------------------------------------------------------------------------------------------------------------- */

#exit_button {
    z-index: 99;
    font-size: 2rem;
    color: #f00;
    transition: color .5s;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

#exit_button:hover {
    color: #a60808;
}